{% extends "base.html" %}
{% load generic_flatblocks %}

{% block app.header %}
{% if not sent %}
    {% gblock "contact-text" for "gblocks.TitleAndText" into "block" %}
    <h1>{{block.title}}</h1>
    {% if block_admin_url %}<p><a href="{{ block_admin_url }}">edit</a></p>{% endif %}
{% endif %}
{% endblock %}

{% block app.content %}
{% if sent %}
<div class="article">
    <h2> Le message a bien été envoyé. </h2>
</div>
{% else %}
<div class="article">
    {% gblock "contact-text" for "gblocks.TitleAndText" into "block" %}
    {{block.text|linebreaks}}
</div>

<div class="article">
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}

        <div>
            {{form.subject.errors}}
            <label for="{{form.subject.id_for_label}}">Sujet</label>
            {{form.subject}}
        </div>

        <div>
            {{form.email_from.errors}}
            <label for="{{form.email_from.id_for_label}}">Email</label>
            {{form.email_from}}
        </div>

        <div>
            {{form.message.errors}}
            <label for="{{form.message.id_for_label}}">Message</label>
            {{form.message}}
        </div>

        <div>
            {{form.cc_myself.errors}}
            <span for="{{form.cc_myself.id_for_label}}">M'envoyer une copie?</span>
            {{form.cc_myself}}
        </div>

        <div class="w3-row">
            <button type="submit" value="Post">
                <i class="fa fa-paper-plane w3-margin-right"></i>Envoyer
            </button>

            <button name="reset" type="reset" id="reset" class="w3-right" value="Reset">
                Effacer
            </button>
        </div>

    </form>
</div>
{% endif %}

{% endblock %}

