{% extends "base.html" %}
{% load website_tags generic_flatblocks comments %}


{% block app.content %}
    {% for object in object_list %}
    {% get_comment_count for object as comment_count %}

    <div class="blog-entry">
        {% if object.image %}
        <img src="{{object.image.url}}" alt="{{object}}">
        {% endif %}

        <div class="w3-container">
            <h3><b>{{object}}</b></h3>
            <h5>{{object.created_by|title}} - <span class="w3-opacity">{{object.publishing_date}}</span></h5>
            <div class="w3-hide-small">
            {% for category in object.M2M_category.all %}
                <span class="tag">{{category|title}}</span>&nbsp;
            {% endfor %}
            </div>
        </div>

        <div class="w3-container">
            <p>{{object.content|safe|striptags|truncatewords:"25"}}</p>

            <div class="w3-row">
                <div class="read-more">
                    <a href="{{object.get_absolute_url}}">Lire la suite »</a>
                </div>
                <div class="comment-nb">
                    <span>Commentaire{{ comment_count|pluralize}}&nbsp;<span>{{comment_count}}</span></span>
                </div>
            </div>
            <br/>
        </div>
    </div>
    {% endfor %}

    {% include "website/include/pagination.html" %}

{% endblock %}
