{% extends "base.html" %}

{% block app.header %}
<div class="w3-display-container w3-animate-opacity" id="header-img">
    <img src="{{STATIC_URL}}/website/img/team.jpg" id="header-cover">
    <div class="w3-container w3-display-middle w3-margin-bottom">  
        <h1 class="w3-margin w3-jumbo">Raozhon Sorcers</h1>
        <p class="w3-xlarge">Équipe Legacy Rennes <i>Magic: the Gathering</i></p>
    </div>
</div>
{% endblock%}

{% block app.content %}

{% with object=last_article %}
<div class="w3-card-4 article w3-theme-l5">
    {% include "website/include/article.html" %}
</div>
{% endwith %}

<div class="w3-row article-row">
{% for object in articles_list %}
{% if forloop.first %}
    <div class="w3-third">
{% endif%}
    {% include "website/include/article.html" %}
{% if forloop.counter|divisibleby:3 %}
    </div>
{% if not forloop.last %}
    <div class="w3-third">
{% endif %}
{% endif %}
{% endfor %}
</div>

{% endblock %}
