{% extends "base.html" %}

{% block app.header %}
<div class="w3-display-container w3-animate-opacity">
    <img src="{{STATIC_URL}}/website/img/home.jpg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
    <div class="w3-container w3-display-middle w3-margin-bottom">  
        <h1 class="w3-margin w3-jumbo">Raozhon Sorcers</h1>
        <p class="w3-xlarge">Équipe Légacy Rennes <i>Magic: the Gathering</i></p>
    </div>
</div>
{% endblock%}

{% block app.content %}
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
        <img src="{{STATIC_URL}}/website/img/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
            <p><b>Article 1</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
        <img src="{{STATIC_URL}}/website/img/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
            <p><b>Article 2</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        </div>
    </div>
    <div class="w3-third w3-container">
        <img src="{{STATIC_URL}}/website/img/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
            <p><b>Article 3</b></p>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        </div>
    </div>
</div>
{% endblock %}
