{% load comments %}

{% get_comment_count for object as comment_count %}

<div class="article-preview">
    {% if object.image %}
    <img src="{{object.image.url}}" alt="{{object}}">
    {% endif %}
    <div onclick="window.location='{{object.get_absolute_url}}'">
        <div>
            <h3><b>{{object}}</b></h3>
            <h5>{{object.created_by|title}} - <span>{{object.date}}</span></h5>
            <p><b class="w3.medium">Commentaire{{comment_count|pluralize}} &nbsp;</b> <span class="w3-tag">{{comment_count}}</span></p>
            {% for category in object.M2M_category.all %}
                <a class="button2" href="{{category.get_absolute_url}}">{{category|title}}</a>&nbsp;
            {% endfor %}
        </div>
    </div>
</div>
