{% load comments %}

{% get_comment_count for object as comment_count %}

<div class="article">
    {% if object.image %}
    <img src="{{object.image.url}}" alt="{{object}}" class="article-img">
    {% endif %}
    <div>
        <h3><b>{{object}}</b></h3>
        <h5>{% for category in object.M2M_category.all %}<a href="{{category.get_absolute_url}}">{{category|title}}</a>, {% endfor %}<span class="w3-opacity">{{object.date}}</span> // par {{object.created_by}}</h5>
        {{object.content|truncatewords_html:15|safe}}
        <div class="w3-row">
            <div class="w3-col m8 s12">
                <p><a class="w3-button w3-padding-large w3-theme-l4 w3-border w3-hover-white" href="{{object.get_absolute_url}}"><b>LIRE PLUS »</b></a></p>
            </div>
            <div class="w3-col m4 w3-hide-small">
                <p><span class="w3-padding-large w3-right"><b>Commentaires &nbsp;</b> <span class="w3-tag">{{comment_count}}</span></span></p>
            </div>
        </div>
    </div>
</div>
