{% load mkrange %}

{% if is_paginated %}
{% mkrange 1 page_obj.paginator.num_pages|add:"1" as range %}
<div id="pagination">
    <div>
        {% if page_obj.has_previous %}
        <a href="{% url "website-home" %}?page={{page_obj.previous_page_number}}">«</a>
        {% endif %}
        
        {% for i in range %}
        <a href="{% url "website-home" %}?page={{i}}" {% if i == page_obj.number %}class="w3-theme"{% endif %}>{{i}}</a>
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="{% url "website-home" %}?page={{page_obj.next_page_number}}">»</a>
        {% endif %}
    </div>
</div>
{% endif %}
