form .fr-dropdown ul.fr-dropdown-menu {
    margin-left: 0;
}

form .fr-element p {
    margin-left: 0;
    padding-left: 0;
}

.aligned label:not(.vCheckboxLabel)::after {
    height: 0px;
}

.fr-wrapper::after {
    min-height: 200px;
}

.fr-box {
    clear: both;
}

