@import "w3.scss";
@import "w3-theme-black.scss";

body, h1, h2, h3, h4, h5 {
    font-family: "Raleway", sans-serif
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

body {
    @extend .w3-light-grey;
}

.w3-content{
    max-width:960px;
    //max-width:1400px;
    margin:auto;
}

#body-wrapper {
    @extend .w3-content;

    header {
        @extend .w3-container;
        @extend .w3-center;
        @extend .w3-padding-32;
    }
}

.tag {
    @extend .w3-tag;
    @extend .w3-black;
    @extend .w3-margin-bottom;
    text-decoration: none;
}

#content {
    @extend .w3-row;

    #content-main {
        @extend .w3-col;
        @extend .l8;
        @extend .s12;

        .blog-entry {
            @extend .w3-card-4;
            @extend .w3-margin;
            @extend .w3-white;

            img {
                width:100%;
            }

            .read-more {
                @extend .w3-col;
                @extend .m6;
                @extend .s12;
                a {
                    @extend .w3-button;
                    @extend .w3-padding-large;
                    @extend .w3-white;
                    @extend .w3-border;
                    font-weight: bold;
                }
            }

            .comment-nb {
                @extend .w3-col;
                @extend .m6;
                @extend .w3-hide-small;

                &>span {
                    @extend .w3-padding-large;
                    @extend .w3-right;
                    font-weight: bold;

                    span {
                        @extend .w3-tag;
                    }
                }
            }
        }
    }

    #content-side {
        @extend .w3-col;
        @extend .l4;

        #about {
            @extend .w3-card;
            @extend .w3-margin;
            @extend .w3-margin-top;

            img {
                width:100%;
            }
        }

        .side-block {
            @extend .w3-card;
            @extend .w3-margin;

            div {
                @extend .w3-container;
                @extend .w3-padding;
            }

            ul {
                @extend .w3-ul;
                @extend .w3-hoverable;
                @extend .w3-white;

                li {
                    @extend .w3-padding-16;

                    img {
                        @extend .w3-left;
                        @extend .w3-margin-right;
                        width: 50px;
                    }

                }
            }
        }
    }
}
