@import "css3.scss";


html,body,h1,h2,h3,h4,h5 {
    font-family: "Open Sans", sans-serif
}

#header {
    padding: 75px;
    margin : 0px;
}

.w3-content {
    max-width: inherit;
    //padding:8px;
}



#app-body {

    #header-img {
        padding-bottom: 8px;

        img {
            width:100%;
            min-height:350px;
            max-height:900px;
            object-fit: cover;
            //object-position: top;
        }

        .black-hoverlay {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
            text-align: center;
        }


        /*#header-logo {
            height: 50%;
        }*/
    }

    #content {
        padding-right: 8px;

        .article {
            margin-bottom: 8px;
            //@extend .clearfix;

            .article-img {
                object-fit: cover;
                //object-position: top 75%;
                width:100%;
                //min-height:200px;
                max-height:480px;
                //background-position: top;
            } 

            div {

                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        .article-row {
            .w3-third {
                padding-left : 8px;
            }
            .w3-third:first-child {
                padding-left : 0px;
            }

            .article {
                img {
                    max-height: 220px;
                }

            }
        }
    }

    #right-column {
        div {
            margin-bottom:8px;
        }
    }

    footer {
    }
}
