@import "css3.scss";


html,body,h1,h2,h3,h4,h5 {
    font-family: "Open Sans", sans-serif
}

#header {
    padding: 75px;
    margin : 0px;
}

.w3-content {
    max-width: inherit;
    padding:8px;
}

#header-img {
    #header-cover {
        width:100%;
        min-height:350px;
        max-height:600px;
        object-fit: cover;
        object-position: top;
    }
    #header-logo {
        height: 50%;
    }
}

#right-column {
    div {
        margin-bottom:8px;
    }
}

#content {
    padding-right: 8px;

    .article {
        margin-bottom: 8px;
        //@extend .clearfix;

        img {
            object-fit: cover;
            object-position: top 75%;
            width:100%;
            //min-height:200px;
            max-height:480px;
            //background-position: top;
        } 
    }

    .article-row {
        .w3-third {
            padding-left : 8px;
        }
        .w3-third:first-child {
            padding-left : 0px;
        }

        .article {
            img {
                max-height:220px;
            }
        }
    }
}
