{% load website_tags generic_flatblocks mkrange hitcount_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>Roazhon Sorcers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{STATIC_URL}}website/css/website.css?{% now "Ymd-hi" %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        {% block app.headstyles %}{% endblock %}
        {% block app.headscripts %}{% endblock %}
        {% block app.headextra %} {% endblock %}

        {% block document.favicon %}
            <link rel="icon" type="image/png" href="{{STATIC_URL}}website/img/icon.png" />
        {% endblock%}
    </head>

    <body>
        {% GetArticleCategories as article_categories %}
        <div id="body-wrapper">
            <!-- Header -->
            {% gblock "home-image" for "gblocks.TitleTextAndImage" into "home_image" %}
            <header>
                <h1>{{home_image.title}}</h1>
            </header>

            <!-- Grid -->
            <div id="content">
                <!-- Blog entries -->
                <div id="content-main">
                    {% block app.content %}{% endblock %}
                </div>

                <div id="content-side">
                    <!-- About Card -->
                    <div id="about">
                        <img src="{{home_image.image.url}}">
                        <div class="w3-container w3-white">
                            <p>{{home_image.text}}</p>
                            {% if home_image_admin_url %}
                                <p><a href="{{ home_image_admin_url }}">edit</a></p>
                            {% endif %}
                        </div>
                    </div>
                    <hr>

                    <!-- Posts -->
                    <div class="side-block">
                        <div><h4>Articles Populaires</h4></div>
                        <ul>
                            {% GetPopularArticles as popular_posts %}
                            {% for object in popular_posts %}
                            <li onclick="window.location.href='{{object.get_absolute_url}}'">
                                <img src="{{object.image.url}}" alt="{{object}}">
                                <span class="w3-large">{{object}}</span><br/>
                                <span>{% get_hit_count for object %} vus</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr>

                    <!-- Labels / tags -->
                    <div class="w3-card w3-margin">
                        <div class="w3-container w3-padding">
                            <h4>Tags</h4>
                        </div>
                        <div class="w3-container w3-white">
                            {% for object in article_categories %}
                                <a href="{{object.get_absolute_url}}" class="tag">{{object|title}}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- END Introduction Menu -->
                </div>

                <!-- END GRID -->
            </div><br>

                <!-- END w3-content -->
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
            <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer>

    </body>
</html>
