{# spaceless #}
<!DOCTYPE html>
<html>
    <head>
        <title>Raozhon Sorcers</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{STATIC_URL}}/website/css/w3.css">
        <link rel="stylesheet" href="{{STATIC_URL}}/website/css/w3-theme-black.css">
        <link rel="stylesheet" href="{{STATIC_URL}}/website/css/website.css">

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block app.headstyles %}{% endblock %}
        {% block app.headscripts %}{% endblock %}
        {% block app.headextra %} {% endblock %}

        {% block document.favicon %}
            <link rel="icon" type="image/png" href="{{STATIC_URL}}website/img/icon.png" />
        {% endblock%}

    </head>

    <body>
        <!-- Navbar -->
        <div class="w3-bar w3-theme w3-left-align">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="{% url "website-home" %}" class="w3-bar-item w3-button w3-hover-white">
                <i class="fa fa-home w3-margin-right"></i>Accueil
            </a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-button" title="Notifications">Articles <i class="fa fa-caret-down"></i></button>     
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a href="#" class="w3-bar-item w3-button">Tournois</a>
                    <a href="#" class="w3-bar-item w3-button">Deck Teck</a>
                    <a href="#" class="w3-bar-item w3-button">...</a>
                </div>
            </div>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Équipe</a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
        </div>
        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
            <a href="{% url "website-home" %}" class="w3-bar-item w3-button">Accueil</a>
            <div class="w3-dropdown-hover w3-bar-item">
                <button class="w3-button" title="Notifications">Articles <i class="fa fa-caret-down"></i></button>     
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a href="#" class="w3-bar-item w3-button">Tournois</a>
                    <a href="#" class="w3-bar-item w3-button">Deck Teck</a>
                    <a href="#" class="w3-bar-item w3-button">...</a>
                </div>
            </div>
            <a href="#" class="w3-bar-item w3-button">Équipe</a>
            <a href="#" class="w3-bar-item w3-button">Contact</a>
        </div>


        <!-- Page Container -->
        <div id="app-body">
            {% block app.header %}{% endblock %}

            <div id="content">
                {% block app.content %}{% endblock %}
            </div>

            <div id="right-column">
                <div>
                    <p>Upcoming Events:</p>
                    <img src="{{STATIC_URL}}/website/img/lights.jpg" alt="event">
                    <p><strong>Holiday</strong></p>
                    <p>Friday 15:00</p>
                    <p>
                    <button>Info</button>
                    </p>
                </div>
            </div>
        </div>
        <!-- End Page Container -->

        <!-- Footer -->
        <footer>
            <h5>Mettre tous les liens des réseaux ici</h5>
            <p>Sponsor <a href="#" target="_blank">Ultimate Guard</a></p>
        </footer>



        <script>
            // Accordion
            function myFunction(id) {
                var x = document.getElementById(id);
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                    x.previousElementSibling.className += " w3-theme-d1";
                } else { 
                    x.className = x.className.replace("w3-show", "");
                    x.previousElementSibling.className = 
                        x.previousElementSibling.className.replace(" w3-theme-d1", "");
                }
            }

            // Used to toggle the menu on smaller screens when clicking on the menu button
            function openNav() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else { 
                    x.className = x.className.replace(" w3-show", "");
                }
            }
        </script>

        {% block app.scripts %}{% endblock %}
    </body>
</html> 
{# endspaceless #}
